body{  
  padding: 15px 80px;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navTitle{
  font-family:"Fira Sans", sans-serif;
  font-weight: 700;
  font-size: 32px;
}

.navBtn{
  padding: 5px 20px;
  color: #006A50;
  font-family:"Fira Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
  border: 2px solid #006A50;
  border-radius: 5px;
}

/* banner section */

.banner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #C6E4D6;
  border-radius: 15px;
  padding: 80px 100px;
}

.bannerDetails{
  width: 100%;
}


.bannerTitle{
  color: #0e0e0e6a;
  font-family:"Fira Sans", sans-serif;
  font-weight: 600;
  font-size: 25px;
}


.bannerSlog{
  font-family:"Fira Sans", sans-serif;
  text-align: left;
  font-size: 56px;
  font-weight: 700;
}

.bannerDetails button{
  padding: 10px 20px;
  color: #ffffff;
  background-color: #006A50;
  border: none;
  border-radius: 5px;
  font-family:"Fira Sans", sans-serif;
  font-weight: 600;
}

.bannerImage{
  width: 100%;
}

/* vision of future */

.first-articles-title{
  font-family:"Fira Sans", sans-serif;
  font-size: 40px;
  font-weight: 700;
}

.first-articles-details{
  font-family:"Fira Sans", sans-serif;
  color: #0e0e0e95;
}

.first-articles-carts-group{
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 5px;
  margin: 10px auto;
}

.first-articles-carts{
 width: 100%;
 padding: 32px;
 margin: 5px 10px;
 border-radius: 10px;
}

#firstCart{
  background-color: #548ff5ac;
}

#firstCart button{
  color: #eff2f8;
  background-color: #5490F5;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  font-weight: 600;
}

#secondCart{
  background-color: #C6E4D6;
}

#secondCart button{
  color: #eff2f8;
  background-color: #2dd55c;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  font-weight: 600;
}

#thurdCart{
  background-color: #F7EBCF;
}

#thurdCart button{
  color: #eff2f8;
  background-color: #ebc64d;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  font-weight: 600;
}




